body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul {
    padding: 0px! important;
}

.header-1 {
    width: 30%;
    background-color:antiquewhite;
    height: 60px;
    border-right: 5px;
    border-style:outset;
    border-color:saddlebrown;
}
#amigos2 {
    float: left;
    width: 20%;
}

#redes {
    width: 65%;
}

body{
    background-image: url(../Img/imagem\ de\ fundo.jpg);
    background-color:sienna;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center center;
}
body{
    font-family: Arial;
}

.caixa-cinza {
   background-color:azure;
   text-align: center;
   padding: 30px;
}

#foto {
    width: 50%;
    border-right: 5px;
    border-style: ridge;
    border-color: black;
}

.sub-titulo {
    text-decoration: underline;
}

#lado-a-lado {
    list-style-position:inside;
    display:inline-flex;
    align-items:center;
    justify-content: space-evenly;
    border-right: 5px;
    border-style:outset;
    border-color:saddlebrown;
}


#p1 {
    font-weight: bold; /* Texto em negrito */
    color:darkseagreen; /* Muda a cor da fonte */
    text-decoration: underline; /* Deixa a linha sublinhada */
    font-size: 22px; /* Muda o tamanho da fonte */
}

#foto-tabuleiro-para-crianças {
    width: 30%;
    border-right: 5px;
    border-style:outset;
    border-color:saddlebrown;
}

main {
    margin: 0 auto;
    width: 980px;
    float:left;
    position: relative;
}

#titulo-principal {
    margin-right:auto;
}

.header-2 {
    background-color:sienna;
    width: 980px;
    margin: 0 auto;
    padding: 16px;
}
.menu-urls {
    height: 80px;
    border-bottom: 3px solid cornsilk;
}

.menu ul li {
    display:inline-block;
    color:darkgoldenrod;
    margin-left: 70px;
    height: 40px;
}

.menu ul li:hover {
    border-bottom: 2px solid aqua;
}
.menu ul li a:hover {
    color:aqua;
}

.menu ul li a {
   color:black;
   text-decoration: none;
   font-size: 20px;
   text-transform: uppercase;
}
.menu {
    width: 70%;
    float: left;
}
.busca {
    text-align: center;
}
.busca input{
    height: 25px;
    margin-top: 8px;
    border: 1px solid darkcyan;
}

.Familia {
    font-weight: bold;
}

.sub-titulo2 {
    font-size: larger;
    font-size: 20px;
    text-decoration: underline
}

.header-3 {
    width: 100%;
}
.menu2 ul li a {
    color:black;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}
.menu2 {
    width: 20%;
    float: left;
}

.menu2 ul li a:hover {
    color:aqua;
}

#titulo-principal2 {
    font-size: 40px;
    font-weight:inherit;
    background-color:antiquewhite;
    border-right: 5px;
    border-style:outset;
    border-color:saddlebrown;
  }
#Foto-Dixit {
    width: 31%;
    border-right: 5px;
    border-style:outset;
    border-color:black;
}  

#familia {
    font-weight: bold;
}

/

#titulo-principal3 {
    font-size: 32px;
    font-weight:inherit;
    background-color:antiquewhite;
    border-right: 5px;
    border-style:outset;
    border-color:saddlebrown;
  }
#Foto-zombicide {
    width: 31%;
    border-right: 5px;
    border-style:outset;
    border-color:black;
}  

#vc-e-amigos {
    font-weight: bold;
}

.sub-titulo3 {
    font-size: larger;
    font-size: 20px;
    text-decoration: underline
}

.header-4 {
    width: 100%;
}

.menu3 ul li a {
    color:black;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}
.menu3 {
    width: 20%;
    float: left;
}

.menu3 ul li a:hover {
    color:aqua;
}
/

#titulo-principal4 {
    font-size: 32px;
    font-weight:inherit;
    background-color:antiquewhite;
    border-right: 5px;
    border-style:outset;
    border-color:saddlebrown;
  }
#Foto-Cash {
    width: 31%;
    border-right: 5px;
    border-style:outset;
    border-color:black;
}  

#Cash {
    font-weight: bold;
}

.sub-titulo4 {
    font-size: larger;
    font-size: 20px;
    text-decoration: underline
}

.header-5 {
    width: 100%;
}

.menu4 ul li a {
    color:black;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}
.menu4 {
    width: 20%;
    float: left;
}

.menu4 ul li a:hover {
    color:aqua;
}