body {
    width: 100%;
    height: 100%;
}

.header-1 {
    width: 100%;
    background-color:antiquewhite;
    height: 60px;
    border-right: 5px;
    border-style:outset;
    border-color:saddlebrown;
}
#amigos2 {
    width: 6%;
}

#redes {
    width: 20%;
}

body{
    background-image: url(../Img/imagem\ de\ fundo.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center center;
}
body{
    font-family: Arial;
}

.caixa-cinza {
   background-color:azure;
   text-align: center;
   padding: 30px;
}

#foto {
    width: 50%;
    border-right: 5px;
    border-style: ridge;
    border-color: black;
}

.sub-titulo {
    text-decoration: underline;
}

#lado-a-lado {
    list-style-position:inside;
    display:inline-flex;
    align-items:center;
    justify-content: space-evenly;
    border-right: 5px;
    border-style:outset;
    border-color:saddlebrown;
}


#p1 {
    font-weight: bold; /* Texto em negrito */
    color:darkseagreen; /* Muda a cor da fonte */
    text-decoration: underline; /* Deixa a linha sublinhada */
    font-size: 22px; /* Muda o tamanho da fonte */
}

#foto-tabuleiro-para-crianças {
    width: 30%;
    border-right: 5px;
    border-style:outset;
    border-color:saddlebrown;
}

main {
    margin: 0 auto;
    width: 980px;
    float:left;
    position: relative;
}

.Procure-por-seu-jogo-aqui {
    width: 40%;
    height: 40px;
    font-weight: bold;
    background-color: brown;
}


