body{
    background-image: url(../Tabuleiro\ de\ Xadrez.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
body{
    font-family: Arial;
}

.caixa-cinza {
   background-color: #CCCCCC;
   text-align: center;
   padding: 10px;
}

#foto {
    width: 100%;
}

#lado-a-lado {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


#p1 {
    font-weight: bold; /* Texto em negrito */
    color:darkseagreen; /* Muda a cor da fonte */
    text-decoration: underline; /* Deixa a linha sublinhada */
    font-size: 22px; /* Muda o tamanho da fonte */
}
